@import "./variables.scss";

// Button styles
.btn {
    width: 100px;
    height: 34px;
    background-color: $main-color;
    border: none;
    border-radius: 80px;
    font-size: 16px;
    line-height: 26px;
    color: $btn-text-color;
    cursor: pointer;
    // Disable button
    &__disable {
        background-color: $disable-color;
    }
    // Active button
    &__active {
        transition: all .5s;
        &:hover {
            background-color: $hover-color;
        }
    }
}