$main-color: #F4E041;
$second-color: #00BDD3;
$background-color: #F8F8F8;
$btn-text-color: rgba(0, 0, 0, 0.87);
$input-color: #7E7E7E;
$input-border: #D0CFCF;
$hover-color: #FFE302;
$disable-color: #B4B4B4;